.search-box .clear {
  position: absolute;
  right: 5rem;
  top: 0;
  z-index: 100;
  height: 100%;
  display: flex;
  align-items: center;
  line-break: 1rem;
}

.search-box .form-control {
  border-radius: 2rem 2rem 2rem 2rem;
  height: calc(2em + 0.75rem + 2px);
  font-size: small;

  &:focus {
    box-shadow: none;
  }
}
.sync {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0px;
  color: #343a40;
  font-size: 2rem;

  .sync-icon {
    cursor: pointer;
    transition: 0.1s all ease;
    font-size: 1.5rem;

    &:hover {
      transform: rotate(90deg);
    }
  }
}
.card {
  border-radius: 0.4rem;
  box-shadow: 1px 1px 3px #ccc;
  margin-bottom: 0.2rem;
}

.table-responsive {
  height: calc(100vh - 203px);
  overflow: hidden;
  font-size: small;

  table {
    tbody {
      tr {
        &:hover {
          cursor: pointer;
        }

        &.active {
          background: #e3f0f9;
        }
      }

      &.collapse.in {
        display: table-row-group;
      }
    }

    thead tr td {
      font-weight: bold;
      padding: 1.5rem 0.75rem !important;
    }

    thead tr td form-check-input {
      margin-left: 0.15rem;
    }
  }
}

.sort {
  &:hover {
    cursor: pointer;
  }
}