footer {
    border-top: 1px solid #828282;
    padding: 20px 0 10px;
    background: #212529;
  }
  
  footer p.copyright {
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;
    /* font-family: Roboto Condensed, sans-serif; */
    color: #8f8f8f;
    margin: 0;
  }