<div class="home container-fluid">
    <div class="d-flex row">
        <div class="sync col-md-8 justify-content-start">
            &nbsp; &nbsp;
			<button class="btn sync">
				<fa-icon [icon]="faBars" (click)="showHide()" title="Show / Hide"></fa-icon>
			</button>
			&nbsp;
			<h2 class="mb-0">Site</h2>
        </div>
        <div class="col-md-4">
			<div class="d-flex justify-content-end" style="overflow-y: auto; margin-right: -15px;">
				<button class="btn-save" (click)="onAddSiteSetupClicked()">New
					Site</button>
			</div>
		</div>
    </div>
    <div class="row">
        <div class="col-md-4 pr-3 setup-group mt-1 position-relative">
            @if(refreshList) {
                <site-list></site-list>
            }
        </div>
        <div class="col-md-8 ticket-container align-items-center flex-column">
            
            <!-- @if((selectedSite$ | async) || hideAddButton) { -->
				<div class="modal-content-form">
					<create-site>
					</create-site>
				</div>
			
            <!-- } @else {
				<div class="d-flex justify-content-center align-items-center flex-column w-100 h-100" style="height: calc(100vh - 142px) !important">
					<div class="p-3">
						<img src="assets/images/ic-blank.png" alt="">
					</div>
					<div>Select a site from the left panel to view details</div>
				</div>
			
            } -->
        </div>  
    </div>
</div>